<html>
<body>
<center>
<form action="{{url_for('run')}}" method = "POST">
    <p>Field1 <input type = "text" name = "attribute1" /></p>
    <p>Field2 <input type = "text" name = "attribute2" /></p>
    <p>Field3 <input type = "text" name = "attribute3" /></p>
    <p>Field1 <input type = "text" name = "attribute4" /></p>
    <p>Field2 <input type = "text" name = "attribute5" /></p>
    <p>Field3 <input type = "text" name = "attribute6" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>

</center>

{%if data == 1%}
dsokds
{%forend%}

<style>

  textarea {
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 20px;
  }

  button{
    margin-top: 10px;
  }
</style>

</body>
</html>
